.pulse,
.pulse::before,
.pulse::after {
  box-shadow: 0 0 0 0 #ccc;
  animation: pulsing 3s linear infinite var(--s, 0s);
  aspect-ratio: 1;
}
.pulse {
  transition: all 0.5s ease;
}
.pulse::before {
  --s: 1s;
}
.pulse::after {
  --s: 2s;
}

@keyframes pulsing {
  to {
    box-shadow: 0 0 0 6rem #0000;
  }
}
