/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width: 320px) {
  .HeaderLaptop {
    display: none;
  }
  .HeaderMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 16px;
  }
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width: 481px) {
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width: 641px) {
}
/* tablet, landscape iPad, lo-res laptops ands desktops */

/* big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) {
  .HeaderLaptop {
    display: flex;
    padding:10px 16px;
    justify-content: space-between;
    align-items: center;
  }
  .HeaderMobile {
    display: none;
  }
}
/* hi-res laptops and desktops */
@media (min-width: 1281px) {
}
